.bg-gray {
    background: #dcdcdc;
  }
  
.bg-Blue {
    background: #d6e6ff;
  }
.bg-darkBlue {
    background: #002772;
  }
.bg-darkPurple {
    background: #720060;
  }
  
.bg-Purple {
    background: #fde2ff;
  }

.font-Purple{
    color: #720060;
}
.font-Blue{
    color: #002772;
}
.border-Purple{
    border-color: #720060;
}
.border-Blue{
    border-color: #002772;
}
.page-men-section, .page-men-section * {
    box-sizing: border-box;
}
.page-men-section {
    border-color: black;
    border: 1px solid;
    border-radius: 20px;
    background-color: #ffffff;
    width: 60%;
    min-height: 75%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 5% 0%;
    margin-top: 2%;
    }

.rectangle-5 {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0px;
    align-items: center;
    text-align: center;
    /* background: #d6e6ff; */
    }


#trianglesvg{
    margin: auto;
    position: absolute;
    left: 1%;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}
.group-21, .group-21 * {
    box-sizing: border-box;
    }
   .group-21 {
       
       position: relative;
       inset: 0;
       height: 80%;
       width: 100%;
       padding: 0 10%;
       height: fit-content;
       /* z-index: 5; */
   }

   .rectangle-7 {
       width: 100%;
       height: 100%;
       /* aspect-ratio: 100 / 29; */
       background: #ffffff;
       border-radius: 10px;
       position: relative;
       /* left: 125px; */
       /* top: 123px; */
       box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       gap: 10px;
       grid-auto-rows: minmax(100px, auto);

   }

   .one {
       width: 100%;
       height: 100%;
       /* padding-left: 15%; */
       grid-column: 1 / 3 ;
       grid-row: 1 / 5;
       display: flex;
       align-items: center;
       overflow: hidden;
       padding: 17%;
   }

   .two{
       width: 100%;
       height: 100%;
       grid-column: 3/6;
       grid-row: 1 / 4;
       padding-right: 10%;
   }
   .three{
       width: 100%;
       height: 100%;
       grid-column: 3/6;
       grid-row: 4 / 4 ;
       padding-right: 10%;
       margin-bottom: 8%;
   }


   img{
       width: 100%;
       /* min-width: 50%; */
       height: auto;
   }

   .catalog-title{

       text-align: left;
       font: 600 28px 'Inter', sans-serif;
       position: relative;
       /* padding: 3%; */
       top: 0;
   }

   .catalog-category{
       color: #3f3f3f;
       text-align: left;
       font: 'Inter', sans-serif;
       position: relative;
       margin: 0;
   }

   .catalog-description{
       color: #1e1e1e;
       text-align: left;
       font: 400 18px 'Inter', sans-serif;
       position: relative;
       width: 100%;
       height: auto;
   }

   .price-tag{
       display: flex;
       /* width: 100%; */
       text-align: left;
       font: 600 28px 'Inter', sans-serif;
       position: relative;
       margin: 2% 0;
   }

   .buy-button{
       border-radius: 4px;
       border-style: solid;
       border-color: transparent;
       /* background-color: #002772; */
       border-width: 3px;
       width: 48%;
       height: 100%;
       padding: 1%;
       margin-right: 4%;
       position: relative;
       font: 600 18px 'Inter', sans-serif;
       color: #ffffff;
   }

   .bg-img{
    width: 100%; 
    height: 500px; 
    display: block; 
    padding: 10px; 
    background-image: url('../sad-face.png');
    object-fit:fill;
    background-size: 100% 500px;
   }
   .next-button{
       background: #ffffff;
       border-radius: 4px;
       border-style: solid;
       border-width: 3px;
       width: 48%;
       height: 100%;
       padding: 1%;
       position: relative;
       font: 600 18px 'Inter', sans-serif;
   }

   .button-container{
       display: block;
       width: 100%;
       z-index: 1000;
   }

   .lds-ring {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 100000;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px){

    .rectangle-7{
        grid-template-columns: repeat(1, 1fr);
    }

    img{
        width: 0px;
    }
}